---
layout: default
title: Publications
permalink: /publication/
tags: publication
---

{% assign journal_publications = site.publications | where: "type", "journal" | sort:'year' | reverse %}
{% assign conference_publications = site.publications | where: "type", "conference" | sort:'year' | reverse %}

<div class="home">
	<div class="row clearfix">
      <div class="col-xs-12 col-sm-4 col-md-3 no-print left-column">
		  Journal
	  </div>
	  <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
		  {% for publication in journal_publications %}
		  <div class="journal">
		  	<span class="authors">{{ publication.authors }}.</span><br />
		  	<span class="title">{{ publication.title }}.</span><br />
			<span class="jname">{{ publication.venue }}.</span> <span class="jvolume">{{ publication.volume }}.</span>
			{% if publication.link %}
			<a href="{{ publication.link }}">JRNL</a>
			{% endif %}
			<br />
			{% if publication.award %}
			<span class="award">{{ publication.award }}.</span>
			{% endif %}
		  </div>
		  {% endfor %}
	  </div>
  </div>
	<div class="row clearfix">
      <div class="col-xs-12 col-sm-4 col-md-3 no-print left-column">
		  Conference
	  </div>
	  <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
			  {% for publication in conference_publications %}
			  <div class="journal">
			  	<span class="authors">{{ publication.authors }}.</span><br />
			  	<span class="title">{{ publication.title }}.</span><br />
				<span class="jname">{{ publication.venue }}.</span> <span class="year">{{ publication.year }}.</span><br />
  			{% if publication.award != blank %}
  			<span class="award">{{ publication.award }}</span>
  			{% endif %}
			  </div>
			  {% endfor %}
		  </div>
	  </div>
  </div>
</div>
