
div.left-column {
	padding-left: 10%;
	font-weight: bold;
}

.journal {
	padding-bottom: 20px;
}

.journal .authors .me {
	font-weight: bold;
}

.journal .jname {
	font-style: italic;
}

.journal .award {
	font-weight: bold;
}

.journal a {
	font-weight: bold;
	font-size: 0.8em;
}